In [2]:
import pandas as pd

In [3]:
results_df = pd.read_csv("./results/sssr-pedestrians.csv")
results_df

,Unnamed: 0,dataset,k,sssr_time,middle_f1,tn,fp,fn,tp
0,0,pedestrians,100,234.514182,0.000000,8639991,9,0,0
1,1,pedestrians,100,237.973133,0.000000,8640000,0,0,0
2,2,pedestrians,100,229.601672,0.000000,8640000,0,0,0
3,3,pedestrians,100,145.494936,0.613781,8515268,24763,48901,51068
4,4,pedestrians,100,146.355451,0.748597,8473357,30487,63421,72735
5,5,pedestrians,100,156.017469,0.709627,8504092,30946,31376,73586
6,6,pedestrians,100,139.726046,0.792922,8480198,42156,12168,105478
7,7,pedestrians,100,204.002947,0.000000,8637042,951,120,1887
8,8,pedestrians,100,160.666645,0.713273,8561361,14446,18982,45211
9,9,pedestrians,100,153.204778,0.753954,8516959,23818,22976,76247
10,10,pedestrians,99,154.744383,0.719626,8493793,13101,6682,40024

In [4]:
total_fp = results_df.fp.sum()
total_fn = results_df.fn.sum()
total_tp = results_df.tp.sum()

In [5]:
Precision = total_tp / (total_tp + total_fp)
Recall = total_tp / (total_tp + total_fn)
f1 = 2 * Precision * Recall / (Precision + Recall)

In [6]:
f1, Recall, Precision

(0.7076109350989356, 0.6949804877903354, 0.7207089670481193)

- time cost

In [7]:
time = results_df.sssr_time.sum()
n = results_df.k.sum()

In [8]:
time / n

1.7855337959077815